{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h1 class="text-center">{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="col-sm-6 offset-sm-3 text-center">
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all%}
    <input  type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label  for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
</div>
{% endblock %}